{% load notifications_tags %}   <!-- 引入 notifications的模板标签 -->
{% notifications_unread as unread_count %}

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
        <a class="navbar-brand" href="{% url 'article:article_list' %}">我的博客</a>

        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_create' %}">写文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_list' %}">文章</a>
                </li>

                <!-- Django的 if 模板语句 -->
                {% if user.is_authenticated %}
                    <!-- 如果用户已经登录，则显示用户名下拉框 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- 新增代码, 小红点 -->
                            {% if unread_count %}
                                <svg viewBox="0 0 8 8"
                                     widht="8px"
                                     height="8px">
                                    <circle cx="4"
                                            cy="4"
                                            r="4"
                                            fill="#ff6b6b"></circle>
                                </svg>
                            {% endif %}

                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url "notice:list" %}">通知
                                {% if unread_count %}
                                    <span class="badge badge-danger">{{ unread_count }}</span>
                                {% endif %}
                            </a>
                            <!--    <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>     -->
                            <a class="dropdown-item" href="{% url 'account_logout' %}">退出登录</a>
                            <a class="dropdown-item" href="{% url 'userprofile:edit' user.id %}">个人信息</a>

                        </div>
                    </li>
                <!-- 如果用户未登录，则显示'登录' -->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">登录</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
    <script>
        function user_delete() {
            //调用 layer 弹窗组件
            layer.open({
                title: '确认删除',
                content: '确认删除用户资料吗？',
                yes: function(index, layero) {
                    location.href="{% url 'userprofile:delete' user.id %}"
                },
            })
        }
    </script>
{% endif %}